[user]
	email = starptr@users.noreply.github.com
	name = Yuto Nishida
[init]
	defaultBranch = main
[credential]
	helper = /home/yuto/.zinit/plugins/microsoft---Git-Credential-Manager-Core/git-credential-manager-core
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
